<table class="pretty">
  <thead>
  <tr>
    <th><%= sortable "title" %></th>
    <th><%= sortable "artist" %></th>
    <th><%= sortable "album" %></th>
    <th>Genres</th>
	<th><%= sortable "created_at", "Added" %></th>
	<th>Found?</th>
	<th>Notes</th>
    <!--<th></th>-->
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @songs.each do |song| %>
  <tr>
    <td><%= song.title %></td>
    <td><%= song.artist %></td>
    <td><%= song.album %></td>
    <td><%= song.genres.collect(&:name).to_sentence %></td>
	<td><%= song.created_at.strftime("%D") %></td>
	<td><input type="checkbox" class="song_found" data-id="<%= song.id %>" <%= (song.found) ? "checked" : "" %>></td>
	<td><%= song.notes %></td>
    <!--<td><%= link_to 'Show', song %></td>-->
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<%= will_paginate @songs %>