<h1>Songs I Need</h1>
<%= form_tag songs_path, :method => 'get', :id => "songs_search" do %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
		
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
<% end %>

<div id="songs"><%= render "songs" %></div>

<br/>
<%= link_to 'add new song', new_song_path %>

<script type="text/javascript">
	$('.song_found').click(function(){
		var id = $(this).attr('data-id')
		//alert(id);
		$.get(
			'/songs/toggle_found.json',
			{
				id : id
			}
		)
	})
</script>

