<h1>Songs I Need</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Genres</th>
	<th>Added</th>
	<th>Found?</th>
	<th>Notes</th>
    <!--<th></th>-->
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @songs.each do |song| %>
  <tr>
    <td><%= song.title %></td>
    <td><%= song.artist %></td>
    <td><%= song.album %></td>
    <td><%= song.genres.collect(&:name).to_sentence %></td>
	<td><%= song.created_at.strftime("%b %Y") %></td>
	<td><input type="checkbox" class="song_found" data-id="<%= song.id %>" <%= (song.found) ? "checked" : "" %>></td>
	<td><%= song.notes %></td>
    <!--<td><%= link_to 'Show', song %></td>-->
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'add new song', new_song_path %>
<script type="text/javascript">
	$('.song_found').click(function(){
		var id = $(this).attr('data-id')
		//alert(id);
		$.get(
			'/songs/toggle_found.json',
			{
				id : id
			}
		)
	})
</script>

