<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @song.title %>
</p>

<p>
  <b>Artist:</b>
  <%= @song.artist %>
</p>

<p>
  <b>Album:</b>
  <%= @song.album %>
</p>

<p>
  <b>Genre:</b>
  <%= @song.genres.collect(&:name).to_sentence %>
</p>

<p>
  <b>Added:</b>
  <%= @song.created_at.strftime("%D") %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
<br/><br/>
<%= link_to 'add new song', new_song_path %>